@import '../../../styles/colors.scss';
@import '../../../styles/breakpoints.scss';

.about-me {
    background-color: $section-background-color;
    text-align: justify;
    display: flex;
    flex-direction: column;

    &__image {
        align-self: center;
    }

    @media (min-width: $layout-breakpoint-medium) {
        display: block;
        position: relative;
        overflow: hidden;

        &__image {
            float: left;
            max-width: 100%;
            height: auto;
            margin-right: 30px;
        }
    }  
} 