@import '../../../styles/colors.scss';

.about-me {
    background-color: $section-background-color;
    text-align: justify;
    display: flex;
    flex-direction: column;

    &__image {
        align-self: center;
    }
} 