$section-background-color: #356B8C;
$main-color: #EFEFEF;
$additional-color: #0A2B42;
$outstanding-color: #F26A1B;
$outstanding-color-hover: #E15A0A;
$boxes-color: #595958;
$boxex-hover-color: #484847;