@import '../../../styles/breakpoints.scss';
@import '../../../styles/colors.scss';

.contact {
    background-color: $section-background-color;

    @media (min-width: $layout-breakpoint-small) {
        padding-right: 10vw !important;
        padding-left: 10vw !important;
    }

    @media (min-width: $layout-breakpoint-large) {
        display: grid;
        grid-template-areas: 
            "header header"
            "data form";
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 30px;

        &__data, &__form-wrapper {
            margin: 0 !important;
        }
    }

    &__header {
        grid-area: header;
        margin-bottom: 50px;
    }

    &__data {
        margin: 30px 5px;
        display: grid;
        gap: 10px;
        grid-area: data;

        @media (min-width: $layout-breakpoint-medium) {
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            
        }
        
        &__box {
            background-color: $boxes-color;
            color: $main-color;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border: none;
            padding-top: 15px;
            padding-bottom: 15px;
            @media (min-width: $layout-breakpoint-large) {
                padding-top: 0;
                padding-bottom: 0;
            } 

            &:hover {
                background-color: $boxex-hover-color;
            }

            &--outstanding {
                background-color: $outstanding-color;
                &:hover {
                    background-color: $outstanding-color-hover;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
    }

    &__icon {
        font-size: 40px;

        &--arrow-mobile {
            transform: rotate(90deg);
            @media (min-width: $layout-breakpoint-large) {
                transform: rotate(0);
            }
        }
    }

    &__form-wrapper {
        margin: 30px 5px;
        grid-area: form;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {

        width: 100%;
        
        @media (min-width: $layout-breakpoint-medium) {
            width: 80%;
        }

        &__invalid-feedback {
            color: $outstanding-color;
        }
    }
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: $outstanding-color;
}