@import './styles/colors.scss';

.App {
  text-align: center;
  background-image: url('./images/background-image.png'); /* Background pattern from Toptal Subtle Patterns */
  color: $main-color;
}

.section {
  padding: 30px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}  */

